



h1, h2, h3, h4, h5, h6{
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: scroll;
}

.button {
    border: 1px;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
.button:hover {
    background-color: #555;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.header {
    text-align: center;
    color: white;
    background-color: #475574;
    padding: 50px;
}

.smallcard {
    justify-content: flex-start;
    box-shadow: 0 5px 7px 0 rgb(0 0 0 / 20%);
    margin: 10px;
}
.bigcard {
    margin-bottom: 15px;
    padding: 0px 8px;
    float: left;
}

.content {
    padding: 0px 16px;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
}

.title {
    color: gray;
}

.smallcard > img {
    width: 100%;
    object-fit:cover;
    height:500px;
  }